.my-projects {
  display: grid;
  width: 100%;
  grid-template-rows: 50px 1fr;
}

.my-projects > h1 {
  text-align: center;
}

.my-projects__gallery {
  position: relative;
  height: 400px;
  display: grid;
  overflow: hidden;
}

@media screen and (max-width: 780px) {
  .my-projects__gallery {
    overflow: hidden;
  }

  .gallery__item__info > p {
    width: 400px;
    font-size: 0.9rem;
  }

  .my-projects__gallery__list__item {
    left: calc(50% - 215px);
    height: 300px;
  }
}

@media screen and (max-width: 560px) {
  .gallery__item__info > p {
    width: 330px;
  }

  .my-projects__gallery__list__item {
    left: calc(50% - 180px);
    height: 300px;
  }
}

@media screen and (max-width: 500px) {
  .gallery__item__tags {
    justify-content: center;
  }

  .gallery__item__tag {
    font-size: 0.7rem;
  }

  .gallery__item__info > h2 {
    text-align: center;
    font-size: 1.3rem;
  }

  .gallery__item__info > p {
    text-align: center;
    width: 200px;
    font-size: 0.76rem;
  }
  .my-projects__gallery__list__item {
    left: calc(50% - 116px);
  }

  .my_projects__gallery__next {
    right: -4px;
  }

  .my_projects__gallery__prev {
    left: -4px;
  }
}
