.header {
  position: fixed;
  height: fit-content;
  width: 100%;
  background-color: var(--black);
  z-index: 9999;
}

.header__container {
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1260px;
  margin: 0 auto;
}

.header__container > h1 {
  color: #fff;
}

.header__nav__list {
  display: flex;
  gap: 3rem;
  list-style: none;
}

.header__nav__list > li {
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}

.header__nav__list > li > a {
  text-decoration: none;
  color: #fff;
}

.header__links {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.header__link {
  display: grid;
  place-items: center;
  padding: 0.3rem;
  background-color: var(--lightgray);
  border-radius: 10px;
}

.header__link > img {
  width: 30px;
  height: 30px;
}

.header__hamburger {
  display: none;
  background-color: #000;
  border: none;
  cursor: pointer;
  transition: all 300ms ease;
}

.header__hamburger > img {
  width: 32px;
  transition: transform 300ms ease;
}

.header__hamburger > img.active {
  transform: rotate(90deg);
}

@media screen and (max-width: 600px) {
  .header__nav {
    display: none;
  }

  .header__links > .header__link {
    display: none;
  }

  .header__hamburger {
    display: block;
  }
}
