@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Armenian:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  scroll-behavior: smooth;
}

body {
  background-color: #f8f8f8;
  height: 100vh;
}

:root {
  --darkgray: #61656b;
  --gray: #8e9092;
  --lightgray: #eee;
  --black: #121212;
}

main {
  display: grid;
  background-color: #fff;
}

h1 {
  font-family: "Noto Serif Armenian";
  font-size: 1.68rem;
}

h2 {
  font-family: "Noto Serif Armenian";
}
