.about-me {
  margin-top: 78px;
  display: grid;
  grid-template-columns: 400px 1fr;
  column-gap: 1.5rem;
  align-items: center;
  justify-items: center;
}

.about-me > img {
  width: 340px;
  height: 320px;
  border-radius: 12px;
}

.about-me__info__container {
  position: relative;
  display: grid;
  grid-template-rows: 40px 1fr;
  margin-right: 2rem;
  row-gap: 10px;
}

.about-me__info__container > p {
  font-weight: 300;
  font-size: 1.3rem;
  max-width: 750px;
  color: var(--gray);
}

.resume__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: var(--black);
  color: #fff;
  border-radius: 12px;
  width: 350px;
  max-height: 70px;
  transition: width 300ms ease;
}

.resume__box > button {
  background-color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1.12rem;
  padding: 0.25rem 0.75rem;
  cursor: pointer;
  transition: all 300ms ease;
}

.resume__box > button:hover {
  transform: scale(1.12, 1.12);
}

@media screen and (max-width: 900px) {
  .about-me {
    grid-template: 320px 1fr / 1fr;
  }

  .about-me__info__container {
    margin: 0;
    padding: 1rem 0;
    justify-items: center;
    text-align: center;
    gap: 1rem;
  }

  .about-me__info__container > p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 400px) {
  .about-me {
    grid-template: 270px 1fr / 1fr;
  }
  .about-me > img {
    width: 265px;
    height: 250px;
  }

  .resume__box {
    width: 260px;
    font-size: 0.8rem;
  }

  .resume__box > button {
    font-size: 0.9rem;
  }
}
